*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#050505;
    color:white;
    overflow-x:hidden;
}

.background-glow{
    position:fixed;
    top:0;
    right:-200px;
    width:700px;
    height:700px;
    background:radial-gradient(circle,
    rgba(147,51,234,.25) 0%,
    transparent 70%);
    pointer-events:none;
    z-index:-1;
}

.hero{
    max-width:1400px;
    margin:auto;
    padding:60px 40px;
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    gap:60px;
}

.plan-number{
    width:55px;
    height:55px;
    border-radius:15px;
    background:#121212;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.5rem;
    font-weight:bold;
    margin-bottom:30px;

    box-shadow:
    0 0 25px rgba(255,255,255,.15);
}

.hero h1{
    font-size:6rem;
    font-weight:900;
    line-height:1;
    margin-bottom:20px;
}

.hero h2{
    color:#9333ea;
    font-size:2.2rem;
    margin-bottom:30px;
}

.hero p{
    color:#d4d4d4;
    font-size:1.3rem;
    line-height:1.8;
    max-width:700px;
}

.hero-buttons{
    display:flex;
    gap:15px;
    margin-top:35px;
}

.hero-tag{
    border:1px solid rgba(147,51,234,.5);
    padding:15px 25px;
    border-radius:15px;
    font-weight:600;
    background:#0d0d0d;
}

.hero-right{
    text-align:center;
}

.hero-right img{
    width:100%;
    max-width:650px;

    filter:
    drop-shadow(0 0 20px #9333ea)
    drop-shadow(0 0 60px #9333ea);
}

.section-title{
    text-align:center;
    margin-top:30px;
    margin-bottom:40px;
}

.section-title h2{
    font-size:3rem;
}

.section-title span{
    color:#9333ea;
}

.cards-grid{
    max-width:1400px;
    margin:auto;
    padding:20px 40px;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.service-card{
    background:#0d0d0d;
    border:1px solid rgba(147,51,234,.3);
    border-radius:20px;
    padding:35px;
    transition:.3s;

    box-shadow:
    inset 0 0 30px rgba(147,51,234,.05);
}

.service-card:hover{
    transform:translateY(-5px);

    box-shadow:
    0 0 25px rgba(147,51,234,.25);
}

.icon{
    font-size:3rem;
    color:#9333ea;
    display:block;
    margin-bottom:20px;

    text-shadow:
    0 0 15px #9333ea;
}

.service-card h3{
    font-size:2rem;
    margin-bottom:15px;
}

.service-card p{
    color:#cfcfcf;
    line-height:1.8;
}

.benefits{
    max-width:1400px;
    margin:auto;
    padding:80px 40px;
}

.benefits h2{
    text-align:center;
    font-size:3rem;
    margin-bottom:40px;
}

.benefits span{
    color:#9333ea;
}

.benefits-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);

    border:1px solid rgba(147,51,234,.3);
    border-radius:20px;
    overflow:hidden;

    background:
    linear-gradient(
    90deg,
    rgba(147,51,234,.08),
    rgba(147,51,234,.02));
}

.benefit{
    padding:35px;
    display:flex;
    gap:20px;
    align-items:flex-start;
}

.benefit:not(:last-child){
    border-right:1px solid rgba(147,51,234,.2);
}

.benefit-icon{
    font-size:3rem;
    color:#9333ea;
}

.benefit-content h3{
    margin-bottom:10px;
}

.benefit-content p{
    color:#cfcfcf;
    line-height:1.6;
}

.timeline{
    max-width:1500px;
    margin:auto;
    padding:60px 20px;
}

.timeline h2{
    text-align:center;
    font-size:3rem;
    margin-bottom:50px;
}

.timeline span{
    color:#9333ea;
}

.process-grid{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    flex-wrap:nowrap;
}

.step{
    width:230px;
    min-height:280px;

    background:#0d0d0d;
    border:1px solid rgba(147,51,234,.3);

    border-radius:20px;

    padding:25px;

    text-align:center;

    transition:.3s;
}

.step:hover{
    transform:translateY(-5px);

    box-shadow:
    0 0 25px rgba(147,51,234,.25);
}

.step-number{
    width:60px;
    height:60px;

    border-radius:50%;
    background:#8b5cf6;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:0 auto 25px;

    font-weight:bold;
    font-size:1.3rem;
}

.step-icon{
    font-size:3rem;
    color:#9333ea;
    margin-bottom:20px;

    text-shadow:
    0 0 15px #9333ea;
}

.step h3{
    margin-bottom:20px;
    font-size:2rem;
}

.step p{
    color:#cfcfcf;
    line-height:1.7;
}

.step-arrow{
    font-size:3rem;
    color:#9333ea;
}

.cta{
    max-width:1400px;

    margin:100px auto;

    padding:0 40px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:30px;

    background:#0d0d0d;

    border:1px solid rgba(168,85,247,.25);

    border-radius:30px;

    padding:50px;
}

.cta-left{
    display:flex;
    align-items:center;
    gap:25px;
}

.cta-left img{
    width:90px;
}

.cta-left h2{
    margin-bottom:10px;
}

.cta-left p{
    color:#cfcfcf;
}

.cta button{
    background:#8b5cf6;

    color:white;

    border:none;

    border-radius:14px;

    padding:18px 35px;

    cursor:pointer;

    font-weight:bold;

    transition:.3s;
}

.cta button:hover{
    transform:translateY(-3px);

    box-shadow:
    0 0 25px rgba(168,85,247,.35);
}

/* FOOTER FEATURES */

.footer-features{
    max-width:1400px;

    margin:auto;

    padding:0 40px 80px;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:20px;
}

.footer-features div{
    background:#111;

    border:1px solid rgba(168,85,247,.15);

    border-radius:18px;

    padding:22px;

    text-align:center;

    font-weight:600;
}

/* RESPONSIVO */

@media(max-width:1000px){

    .hero{
        grid-template-columns:1fr;
        text-align:center;
    }

    .hero-buttons{
        justify-content:center;
    }

    .hero-left p{
        margin:auto auto 35px;
    }

    .hero-left h1{
        font-size:4rem;
    }

    .cta{
        flex-direction:column;
        text-align:center;
    }

    .cta-left{
        flex-direction:column;
    }
}


.step-icon{

    margin:15px 0 20px;

    text-align:center;
}

.step-icon i{

    font-size:3rem;

    color:#a855f7;

    text-shadow:
    0 0 10px rgba(168,85,247,.5),
    0 0 25px rgba(168,85,247,.4);

    transition:.3s;
}

.step:hover .step-icon i{

    transform:scale(1.15);
}

.btn-zap{
    display:inline-flex;
    align-items:center;
    gap:10px;
    color:white;
    border:none;
    border-radius:14px;
    padding:14px 20px;
    font-weight:600;
    transition:.3s;
}

@media(max-width:1100px){

    .hero{
        grid-template-columns:1fr;
        text-align:center;
    }

    .cards-grid{
        grid-template-columns:1fr;
    }

    .benefits-grid{
        grid-template-columns:1fr;
    }

    .process-grid{
        flex-wrap:wrap;
    }

    .step-arrow{
        display:none;
    }

    .footer-features{
        grid-template-columns:1fr;
    }

    .footer-features div{
        border:none;
    }
}

html,
body{
    overflow-x:hidden;
    max-width:100%;
}

@media(max-width:768px){

    .hero{
        grid-template-columns:1fr;
        text-align:center;
        padding:40px 20px;
        overflow:hidden;
    }

    .hero h1{
        font-size:4rem;
        line-height:1;
    }

    .hero h2{
        font-size:1.8rem;
    }

    .hero p{
        font-size:1.1rem;
        max-width:100%;
    }

    .hero-right img{
        max-width:280px;
    }

    .hero-buttons{
        justify-content:center;
        flex-wrap:wrap;
    }

    .cards-grid{
        grid-template-columns:1fr;
        padding:20px;
    }

    .benefits{
        padding:60px 20px;
    }

    .benefits-grid{
        grid-template-columns:1fr;
    }

    .process-grid{
        flex-wrap:wrap;
    }

    .step-arrow{
        display:none;
    }
    
}